html {
  scroll-behavior: smooth !important;
}
.workthrough-body {
  /* width: 0px; */
  z-index: 10000 !important;
}
.hide {
  display: none !important;
}
.show {
  display: inline-block !important;
}
.relative {
  position: relative !important;
}
.bottom-right {
  display: inline-block !important;
  position: absolute !important;
  right: 0px !important;
  bottom: 0px !important;
  top: 120% !important;
  offset-position: auto !important;
  offset-anchor: center !important;
  offset-path: ray(45deg) !important;
}
.top-right {
  display: inline-block !important ;
  position: absolute !important;
  right: 0px !important;
  bottom: 150% !important;
  offset-position: auto !important;
  offset-anchor: center !important;
  offset-path: ray(45deg) !important;
}
.bottom-left {
  position: absolute !important;
  left: 0px !important;
  bottom: 0px !important;
  top: 120% !important;
  offset-position: auto !important;
  offset-anchor: center !important;
  offset-path: ray(45deg) !important;
}
.top-left {
  position: absolute !important;
  left: 0px;
  bottom: 150%;
  offset-position: auto !important;
  offset-anchor: center !important;
  offset-path: ray(45deg) !important;
}
.temp {
  background-color: pink !important;
}
.workthrough-dialog {
  background-color: white !important;
  padding: 1rem !important;
  min-width: 20rem !important;
  min-height: 10rem !important;
  max-width: 100rem !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  color: black !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  animation: shake 0.3s linear 2 !important;
}
@keyframes shake {
  50% {
    transform: translateY(4%);
  }
}
.content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
.content > span {
  position: absolute !important;
  padding: 10px;
  right: 0px;
  top: 0px;
}
.prev-next {
  display: flex !important;
  padding: 0.25em;
  justify-content: space-around !important;
}
.btn {
  padding: 6px 1.3em 6px 1.3em !important;
  background: #4e9de6 !important;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.arrow {
  position: absolute !important;
  background-color: inherit;
  z-index: -1;
  overflow: visible !important;
  width: 30px !important;
  height: 30px !important;
  margin-top: calc(-40px + 1rem) !important;
  content: "";
  transform: rotate(45deg) !important;
}
